.u-section-1 .u-sheet-1 {
  min-height: 941px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 131px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 0;
}

.u-section-1 .u-image-1 {
  width: 769px;
  height: 503px;
  margin: 192px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-image-1 {
    height: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 222px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 170px auto 0;
}

.u-section-2 .u-blog-1 {
  margin: 29px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 375px;
  grid-gap: 22px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  text-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 370px;
  width: 370px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 -2px;
}

.u-section-2 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 17px auto 0 20px;
}

.u-section-2 .u-repeater-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  text-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 370px;
  width: 370px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 -2px;
}

.u-section-2 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 17px auto 0 20px;
}

.u-section-2 .u-repeater-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  text-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 370px;
  width: 370px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 -2px;
}

.u-section-2 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0 20px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  align-self: center;
  background-image: none;
  border-style: solid;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-image-1 {
    height: 195px;
    width: 258px;
  }

  .u-section-2 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-image-2 {
    height: 195px;
    width: 258px;
  }

  .u-section-2 .u-metadata-2 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-image-3 {
    height: 195px;
    width: 258px;
  }

  .u-section-2 .u-metadata-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    height: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
  }

  .u-section-2 .u-image-1 {
    height: 218px;
    width: 309px;
  }

  .u-section-2 .u-image-2 {
    height: 218px;
    width: 309px;
  }

  .u-section-2 .u-image-3 {
    height: 218px;
    width: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-2 .u-blog-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 348px;
    width: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 348px;
    width: 480px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 348px;
    width: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 759px;
}

.u-section-3 .u-group-1 {
  width: 889px;
  min-height: 387px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 30px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-3 .u-text-1 {
  font-family: "Playfair Display", serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  align-self: center;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 10px 28px 10px 27px;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/d68fa06b9a841d2221b5d0e695ee99a35178d6a0084c3e2200cc8b8cb35aab4912123a0a6e4b726b4e3c1d377605dc1adc128228108c440664eb57_1280.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -361px auto 0 30px;
}

.u-section-3 .u-shape-1 {
  width: 160px;
  height: 160px;
  background-image: none;
  margin: -74px auto 60px 377px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-3 .u-group-1 {
    width: 763px;
    margin-right: 0;
    animation-duration: 1750ms;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
  }

  .u-section-3 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-3 .u-group-1 {
    width: 638px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 40px 130px 130px;
  }

  .u-section-3 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -73px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-3 .u-group-1 {
    width: 466px;
    min-height: 420px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -83px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -134px;
    margin-right: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-3 .u-group-1 {
    width: 309px;
    margin-top: 55px;
  }

  .u-section-3 .u-image-1 {
    height: 315px;
    width: 315px;
    margin-top: -68px;
  }

  .u-section-3 .u-shape-1 {
    width: 135px;
    height: 135px;
    margin-top: -66px;
    margin-right: 0;
    margin-bottom: 55px;
  }
} .u-section-4 {
  background-image: url("images/9eaa2ced0e78bdce6e78488425b39ba512154a721da909b44da57130b967e7ad0c99f04228dcc679eb7b22935ff943f36e1813ffe6895379bcbe45_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 973px;
}

.u-section-4 .u-shape-1 {
  width: 629px;
  height: 629px;
  margin: 141px auto 0 18px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 816px;
  margin: -668px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 706px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,51,51,0.4);
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: 611px;
    margin-top: -629px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-top: 157px;
    margin-left: -29px;
  }

  .u-section-4 .u-list-1 {
    width: 511px;
    margin-top: -625px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-4 .u-shape-1 {
    width: 393px;
    height: 393px;
    margin-top: 738px;
    margin-right: -53px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -1071px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
} .u-section-5 {
  min-height: 1195px;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 401px;
  background-image: none;
  margin: 185px 0 0 auto;
}

.u-section-5 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 650px);
  height: 538px;
  background-image: none;
  margin: -586px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 636px;
  height: 636px;
  background-image: url("images/Sans-titre-1.jpg");
  background-position: 50% 50%;
  margin: -462px auto 0 calc(((100% - 1140px) / 2) + 147px);
}

.u-section-5 .u-group-1 {
  width: 506px;
  min-height: 488px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -221px calc(((100% - 1140px) / 2) + 83px) 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  align-self: center;
  margin: 20px auto 0;
}

.u-section-5 .u-group-2 {
  width: 518px;
  min-height: 337px;
  margin: -198px auto 60px calc(((100% - 1140px) / 2) + 14px);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1270px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 620px);
  }

  .u-section-5 .u-image-1 {
    margin-top: -437px;
    margin-right: calc(((100% - 940px) / 2) + 123px);
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    width: 476px;
    margin-top: -225px;
    margin-right: calc(((100% - 940px) / 2) + 14px);
    height: auto;
  }

  .u-section-5 .u-group-2 {
    width: 430px;
    min-height: 422px;
    margin-top: -164px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1345px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 466px);
    margin-top: 165px;
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 519px);
    height: 448px;
    margin-top: -566px;
  }

  .u-section-5 .u-image-1 {
    width: 506px;
    height: 506px;
    margin-top: -367px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 34px);
  }

  .u-section-5 .u-group-1 {
    margin-top: -139px;
    margin-right: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-5 .u-group-2 {
    width: 521px;
    min-height: 319px;
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2) + 20px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1280px;
  }

  .u-section-5 .u-shape-1 {
    width: 456px;
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 317px);
    height: 367px;
  }

  .u-section-5 .u-image-1 {
    width: 404px;
    height: 404px;
    margin-top: -286px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 412px;
    min-height: 489px;
    margin-top: -88px;
    margin-right: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-5 .u-group-2 {
    min-height: 293px;
    margin-top: 31px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1402px;
  }

  .u-section-5 .u-shape-1 {
    width: 256px;
  }

  .u-section-5 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 243px);
    height: 264px;
  }

  .u-section-5 .u-image-1 {
    width: 317px;
    height: 317px;
    margin-top: -183px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 297px;
    margin-top: -52px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
    min-height: 386px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-6 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/code_1.png");
  background-position: 50% 50%;
  margin: 60px 231px 0 281px;
}

.u-section-6 .u-group-1 {
  min-height: 508px;
  width: 531px;
  background-image: none;
  margin: -280px 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 36px;
}

.u-section-6 .u-text-1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: 20px 6px 0 20px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 29px 15px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  align-self: center;
  margin: 20px auto 0;
}

.u-section-6 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/f7886a984f133d384618c20215681f7ee1f088b8dc2c7f78f40cf68db6f8fe9ef633c34d24658ed685fe3dbbfaad42e7006719bff9c16d1a7c35ad_1280.png");
  background-position: 50% 50%;
  margin: -471px auto 0 157px;
}

.u-section-6 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: 10px auto 0 86px;
}

.u-section-6 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -88px auto 60px 320px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 131px;
    margin-left: 181px;
  }

  .u-section-6 .u-group-1 {
    min-height: 531px;
    width: 489px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -501px;
    margin-left: 73px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 20px;
    margin-left: 60px;
  }

  .u-section-6 .u-shape-2 {
    width: 208px;
    height: 208px;
    margin-top: -34px;
    margin-left: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1726px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 21px;
    margin-left: 71px;
  }

  .u-section-6 .u-group-1 {
    min-height: 501px;
    margin-top: 477px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -1158px;
    margin-left: 38px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 38px;
    margin-left: 86px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -35px;
    margin-left: auto;
    margin-bottom: 612px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -1120px;
    margin-left: 18px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -72px;
    margin-right: 131px;
    margin-bottom: 610px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-6 .u-image-1 {
    width: 310px;
    height: 310px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 572px;
    margin-top: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 208px;
    height: 208px;
    margin-top: -1119px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 107px;
    height: 107px;
    margin-top: 30px;
    margin-left: 37px;
  }

  .u-section-6 .u-shape-2 {
    width: 170px;
    height: 170px;
    margin-top: -22px;
    margin-right: 19px;
    margin-bottom: 685px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 607px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-7 .u-list-1 {
  margin-bottom: 0;
  margin-top: 78px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 201px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-7 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-7 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 46px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1302px;
}

.u-section-8 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 60px auto 0 630px;
}

.u-section-8 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/ff21853b758a27f382e299a509de8db8a41beb0da85e4bea6f17ccb38206a920cc0c89f045d281364e49c9bc7939e9c4a1efbea42fc5ec9d91e1fc_1280.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -263px auto 0 26px;
}

.u-section-8 .u-shape-2 {
  width: 245px;
  height: 245px;
  margin: -181px auto 0 0;
}

.u-section-8 .u-group-1 {
  width: 634px;
  min-height: 656px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -372px auto 0 500px;
}

.u-section-8 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 12px 15px 0 0;
}

.u-section-8 .u-form-1 {
  height: 422px;
  margin: 20px 25px 0 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  background-image: none;
  border-style: none;
  padding: 16px 30px 17px;
}

.u-section-8 .u-shape-3 {
  width: 146px;
  height: 146px;
  background-image: none;
  margin: -256px auto 110px 270px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-8 .u-shape-1 {
    width: 209px;
    height: 209px;
    margin-right: 190px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 656px;
    height: 656px;
  }

  .u-section-8 .u-shape-2 {
    width: 194px;
    height: 194px;
    margin-left: 26px;
  }

  .u-section-8 .u-group-1 {
    width: 544px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-section-8 .u-form-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-8 .u-shape-1 {
    margin-right: 64px;
  }

  .u-section-8 .u-image-1 {
    width: 604px;
    height: 604px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -110px;
    margin-left: 40px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1463px;
  }

  .u-section-8 .u-shape-1 {
    width: 177px;
    height: 177px;
    margin-right: 51px;
  }

  .u-section-8 .u-image-1 {
    width: 462px;
    height: 462px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    width: 157px;
    height: 157px;
    margin-top: 70px;
    margin-left: 42px;
  }

  .u-section-8 .u-group-1 {
    width: 512px;
    min-height: 633px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-8 .u-shape-1 {
    width: 120px;
    height: 120px;
    margin-right: 23px;
  }

  .u-section-8 .u-image-1 {
    width: 302px;
    height: 302px;
  }

  .u-section-8 .u-shape-2 {
    width: 108px;
    height: 108px;
    margin-left: 23px;
  }

  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-8 .u-shape-3 {
    margin-left: 194px;
  }
}